body{
  font-family: Verdana
}

#Title{
  padding: 20px;
}

#TitleCont{
  margin-top: 5px;
  background-color: #14257b;
}

.Subtitle{
  color: rgb(60, 60, 100);
}

.Title{
  color: white;
}

.Subsubtitle{
  color: rgb(60, 60, 100);
}
